<!DOCTYPE html>
<html>
<head>
	<title>Student details</title>
</head>
<body>
	
	{{appno.Sname}}
	<img src="{{appno.Sphoto.url}}" style="width:270px;height:100px;">	
	{{appno.Fname}}
	<img src="{{appno.Fphoto.url}}" style="width:270px;height:100px;">	
	{{appno.Mname}}
	<img src="{{appno.Mphoto.url}}" style="width:270px;height:100px;">
	{{appno.School}}	
	{{appno.Grade}}

	<img src="{{appno.PYmarks.url}}" style="width:270px;height:100px;">	

	<img src="{{appno.PPYmarks.url}}" style="width:270px;height:100px;">
	{{appno.Marks}}
	<img src="{{appno.Incomecert.url}}" style="width:270px;height:100px;">
	{{appno.Foccup}}
	{{appno.Moccup}}
	{{appno.Sfee}}		
	{{appno.Scholar}}		

</body>
</html>
